<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/information/update" method="post">
    <input type="number" name="info_id">
    <input type="text" name="cates_name">
    <input type="text" name="username">
    <input type="text" name="info_title">
    <input type="text" name="info_content">
    <input type="text" name="info_phone">
    <input type="text" name="info_price">
    <input type="text" name="info_datestart">
    <input type="text" name="info_dateend">
    <input type="submit" value="修改">
</form>

</body>
</html>